body{
  text-align: center;
  background-color: black;
}

h1{
  display: inline-block;
  position: relative;
  top:1rem;
  font-family: 'Staatliches', cursive;
  font-size: 5rem;
color:#07F572;
}

h2{
  font-family: 'Press Start 2P', cursive;
color:white;
}

h3{
  font-family: 'Press Start 2P', cursive;
  font-size: 1.3rem;
  color:gold;
}

.hidden{
  visibility: hidden;
}

button{
  width: 7rem;
  height:7rem;
  margin: 0 3rem 3rem 0;
}

.btn:focus {
outline: none;
box-shadow: none;
}

ul{
  list-style: none;
}

.game-wrapper{
  position: relative;
  top: 2rem;
  text-align: center;
}

.btn-wrapper{
  position: relative;
  top: 1rem;

}
